// shop page styles here

@use "./../components/colors" as *;
@use "./../components/media-queries" as *;

.cat-link-box {
  background: #f6f6f6;
  .categories-holder {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 2.4rem 0;

    a:link,
    a:visited {
      display: inline-block;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 28px;
      color: $dark;
      transition: all 0.3s;
      text-decoration: none;
      min-width: 8rem;
    }

    a:hover,
    a:active {
      font-weight: 600;
      color: $dark;
      text-decoration: underline;
    }
  }
}
