// Main Colors
// - Primary: #f27178;
//  - Secondary - #fcc279;

// - dark: #000000;
// - White: #FFFFFF;

// - Grey - #dedede;

$primary: #f27178;
$secondary: #fcc279;
$dark: #000000;
$grey: #dedede;
$white: #ffffff;
$light: #f6f6f6;
